.collection-page {
    display: flex;
    flex-direction: column;
  
    .title {
      font-size: 38px;
      margin: 0 auto 30px;
    }
  
    .items {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr ;
      grid-gap: 10px;
      animation-name: moveIn;
        animation-duration: 0.8s;
        animation-timing-function: ease-out;
    

      @keyframes moveIn{
        0% {
            opacity: 0;
            transform: translateY(30rem);
        }
    
        80% {
            transform: translateY(-1rem);
        }
    
        100% {
            opacity: 1;
            transform: translate(0);
        }
    }
  
      & .collection-item {
        margin-bottom: 30px;
      }
    }
  }
  