.sign-in {
    width: 420px;
    display: flex;
    flex-direction: column;
    animation-name: moveInLeft;
        animation-duration: .7s;
        animation-timing-function: ease-out;
    
  .title{
    margin: 10px 0;
  } 
  
  .buttons {
    display: flex;
    justify-content: space-between;
  
  }
}




