.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    animation-name: moveInLeft;
        animation-duration: 0.6s;
        animation-timing-function: ease-out;
    
        @keyframes moveInLeft {
          0% {
              opacity: 0;
              transform: translateX(-30rem);
          }
      
          80% {
              transform: translateX(2rem);
          }
      
          100% {
              opacity: 1;
              transform: translate(0);
          }
      }
  
    .logo-container {
      height: 100%;
      width: 70px;
      padding: 25px;
    }
  
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
      .option {
        padding: 10px 15px;
        cursor: pointer;
      }
    }
  }
  