body{
    font-family: 'Chelsea Market',cursive;
    padding: 20px 55px;
    background-image: url(https://wallpaperplay.com/walls/full/a/e/6/33398.jpg);
}

a{
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}